spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/center_management
    username: center_user
    password: phamminhtuan51
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

server:
  port: 8082
